{% extends "base.html" %} {% load humanize %} {% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">Course Searching Just Got So Easy</h1>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
          quas, asperiores eveniet vel nostrum magnam voluptatum tempore!
          Consectetur, id commodi!
        </p>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  placeholder="Keyword (Course Topics, Duration hours, etc)"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Title</label>
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  placeholder="Title"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Topic</label>
                <select name="topic" class="form-control">
                  <option selected="true" value="">Topic (All)</option>
                  {% for key, value in topic_choices.items %}
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">classsize</label>
                <select name="classsize" class="form-control">
                  <option selected="true" value="">Classsize (Any)</option>
                  {% for key, value in classsize_choices.items %}
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="coursefee" class="form-control" id="type">
                  <option selected="true" value="">Max coursefee (Any)</option>
                  {% for key, value in coursefee_choices.items %}
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">
              Submit form
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- courses -->

<section id="courses" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Latest Courses</h3>
    <div class="row">
      <!-- course 1 -->
      {% if courses %} {% for course in courses %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card course-preview">
          #fix image later
          <img class="card-img-top" src="{{course.photo_main.url}}" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white"
                >${{course.coursefee | intcomma}}</span
              >
            </h2>
          </div>
          <div class="card-body">
            <div class="course-heading text-center">
              <h4 class="text-primary">{{course.title}}</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i>
                {{course.topic}}
              </p>
            </div>
            <hr />
            {% comment %}
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: {{course.sqft| intcomma}}
              </div>
              <div class="col-6">
                <i class="fas fa-dumbbell"></i> ClubHouse: {{course.clubhouse}}
              </div>
            </div>
            {% endcomment %}
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> Class size: {{course.classsize}}
              </div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Duration hr: {{course.durationhr}}
              </div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-12">
                <i class="fas fa-user"></i> {{course.tutor}}
              </div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-12">
                <i class="fas fa-clock"></i> {{course.list_date | timesince}}
              </div>
            </div>
            <hr />
            # fix course.html later
            <a
              href="{% url 'course' course.id %}"
              class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <p>No Course Available</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr />
        <h3>Consulting Services</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          debitis nam! Repudiandae, provident iste consequatur hic dignissimos
          ratione ea quae.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr />
        <h3>Propery Management</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          debitis nam! Repudiandae, provident iste consequatur hic dignissimos
          ratione ea quae.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr />
        <h3>Renting & Selling</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          debitis nam! Repudiandae, provident iste consequatur hic dignissimos
          ratione ea quae.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
