{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-5">A clean timeline design, with animated links</h2>
    <div class="timeline">
        {% for event in timeline_events %}
        <div class="timeline__event animated fadeInUp timeline__event--{{ event.event_type }}"
             style="--event-bg: {{ event.get_colors.bg }}; --event-text: {{ event.get_colors.text }}">
            <div class="timeline__event__icon">
                <i class="{{ event.get_icon }}"></i>
            </div>
            <div class="card flex-row">
            <div class="timeline__event__date">
                <div class="timeline__event__date-text">
                    {{ event.event_date|date:"d-m-Y" }}
                </div>
            </div>  

    <img class="card-img-left example-card-img-responsive" src="{{ event.main_photo.url }}" alt="{{ event.title }}" />
    <div class="card-body">
        <h4 class="card-title h5 h4-sm">{{ event.title }}</h4>
        <p class="card-text">{{ event.description }}</p>
    </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
