{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-5">A clean timeline design, with animated links</h2>
    <div class="timeline">
        {% for event in timeline_events %}
        <div class="timeline__event animated fadeInUp timeline__event--{{ event.event_type }}"
             style="--event-bg: {{ event.get_colors.bg }}; --event-text: {{ event.get_colors.text }}">
            <div class="timeline__event__icon">
                <i class="{{ event.get_icon }}"></i>
            </div>
            <div class="timeline__event__date">
                <div class="timeline__event__date-text">
                    {{ event.event_date|date:"d-m-Y" }}
                </div>
            </div>  
            <div class="timeline__event__content">
                {% comment %} {% if event.main_photo %}
                <img src="{{ event.main_photo.url }}" alt="{{ event.title }}" class="timeline__event__date-img">
                {% endif %}  {% endcomment %}
                <div class="timeline__event__title">{{ event.title }}</div>
                <div class="timeline__event__description">
                    {{ event.description }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


