{% extends 'base.html' %} {% load humanize %} {% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Browse Our Courses</h1>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt,
          pariatur!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active">Browse Courses</li>
        </ol>
      </nav>
    </div>
  </section>
  
  <!-- Courses -->
  <section id="courses" class="py-4">
    <div class="container">
      <div class="row">
        <!-- course 1 -->
        {% if courses %} {% for course in courses %}
        <div class="col-md-4 mb-4">
          <div class="card course-preview">
            <img class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" src="{{ course.photo_main.url }}" alt="" />
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white"
                  >${{course.coursefee | intcomma}}</span
                >
              </h2>
            </div>
            <div class="card-body">
              <div class="course-heading text-center">
                <h4 class="text-primary course-title">{{course.title | title}}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i>
                  {{course.topic}}
                </p>
              </div>
              <hr />
              {% comment %}
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: {{course.sqft | intcomma}}
                </div>
                <div class="col-6">
                  <i class="fas fa-dumbbell"></i> ClubHouse: {{course.clubhouse}} 
                </div>
              </div>
              {% endcomment %}
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> 班級人數: {{course.classsize}}
                </div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> 時長(小時): {{course.durationhr}}
                </div>
              </div>
              <hr />
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-user"></i> 導師: {{course.tutor | title}}
                </div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-12">
                  <i class="fas fa-clock"></i> 發佈日期: {{course.list_date | timesince}}
                </div>
              </div>
              <hr />
              <a href="{% url 'course' course.id %}" class="btn btn-primary btn-block"
                >更多資訊</a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="col-md-12">
          <p>No Course Available</p>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--django pagination -->
          {% if courses.has_other_pages %}  
          <ul class="pagination">
            {% if courses.has_previous %}
            <li class="page-item">
              <a href="?page={{courses.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&laquo;</a>
            </li>
            {% endif %}
            <!--for loop all the page number-->
            {% for i in courses.paginator.page_range %}
            <!--if page number eq to current page then display the number and go nowhere-->
            {% if courses.number == i %}
            <li class="page-item active">
              <a class="page-link">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if courses.has_next %}
            <li class="page-item">
              <a href="?page={{courses.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&raquo;</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
      </div>
    </div>
  </section>
  {% endblock %}